USE [master]
GO
/****** Object:  Database [FootballScouting_Staging]    Script Date: 6/14/2026 12:13:27 PM ******/
CREATE DATABASE [FootballScouting_Staging]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FootballScouting_Staging', FILENAME = N'E:\sqlServer2019\MSSQL15.SQLEXPRESS\MSSQL\DATA\FootballScouting_Staging.mdf' , SIZE = 401408KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FootballScouting_Staging_log', FILENAME = N'E:\sqlServer2019\MSSQL15.SQLEXPRESS\MSSQL\DATA\FootballScouting_Staging_log.ldf' , SIZE = 73728KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FootballScouting_Staging].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FootballScouting_Staging]
GO
/****** Object:  Table [dbo].[appearances]    Script Date: 6/14/2026 12:13:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[appearances](
	[appearance_id] [nvarchar](50) NULL,
	[game_id] [nvarchar](50) NULL,
	[player_id] [nvarchar](50) NULL,
	[player_club_id] [nvarchar](50) NULL,
	[player_current_club_id] [nvarchar](50) NULL,
	[date] [nvarchar](50) NULL,
	[player_name] [nvarchar](150) NULL,
	[competition_id] [nvarchar](50) NULL,
	[goals] [nvarchar](50) NULL,
	[assists] [nvarchar](50) NULL,
	[minutes_played] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clubs]    Script Date: 6/14/2026 12:13:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clubs](
	[club_id] [nvarchar](50) NULL,
	[name] [nvarchar](150) NULL,
	[club_code] [nvarchar](100) NULL,
	[country_id] [nvarchar](50) NULL,
	[stadium_name] [nvarchar](150) NULL,
	[stadium_seats] [nvarchar](50) NULL,
	[coach_name] [nvarchar](150) NULL,
	[domestic_competition_id] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[competitions]    Script Date: 6/14/2026 12:13:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[competitions](
	[competition_id] [nvarchar](50) NULL,
	[name] [nvarchar](150) NULL,
	[type] [nvarchar](100) NULL,
	[sub_type] [nvarchar](100) NULL,
	[country_id] [nvarchar](50) NULL,
	[confederation] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[countries]    Script Date: 6/14/2026 12:13:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[countries](
	[country_id] [nvarchar](50) NULL,
	[country_name] [nvarchar](150) NULL,
	[confederation] [nvarchar](100) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[player_valuations]    Script Date: 6/14/2026 12:13:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[player_valuations](
	[player_id] [nvarchar](50) NULL,
	[date] [nvarchar](50) NULL,
	[market_value] [nvarchar](50) NULL,
	[current_club_id] [nvarchar](50) NULL,
	[player_club_domestic_competition_id] [nvarchar](50) NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[players]    Script Date: 6/14/2026 12:13:27 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[players](
	[player_id] [nvarchar](50) NULL,
	[first_name] [nvarchar](150) NULL,
	[last_name] [nvarchar](150) NULL,
	[date_of_birth] [nvarchar](50) NULL,
	[position] [nvarchar](100) NULL,
	[foot] [nvarchar](50) NULL,
	[height_cm] [nvarchar](50) NULL,
	[contract_expiration] [nvarchar](50) NULL,
	[last_season] [nvarchar](50) NULL
) ON [PRIMARY]
GO
USE [master]
GO
